@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgblack: #181e1e;
  --bgdark: #181e1e;
  --fillorange: #ff9300;
  --textwhite: #fdfdfd;
}

body {
  margin: 0;
  font-family: Garamond, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
